<div class="game" *ngIf="isGameInitialized()">
  <h1>Total Credits: {{getCredits()}}</h1>
  <h2>Bet: {{getBet()}}</h2>
  <div class="payout">
    <table>
      <tr *ngFor="let payout of getPayoutSchedule()">
        <td>{{payout.hand}}</td>
        <td>{{payout.payouts[0]}}</td>
        <td>{{payout.payouts[1]}}</td>
        <td>{{payout.payouts[2]}}</td>
        <td>{{payout.payouts[3]}}</td>
        <td>{{payout.payouts[4]}}</td>
      </tr>
    </table>
  </div>
  <div class="deal" *ngIf="isReadyToBet()">
    <button class="betOneButton" (click)="betOne()">Bet 1</button>
    <button class="betMaxButton" (click)="betMax()">Bet Max</button>
  </div>
  <app-hand></app-hand>
</div>


