<div class="game" *ngIf="isGameInitialized()">
  <h1>Total Credits: {{getCredits()}}</h1>
  <h2>Bet: {{getBet()}}</h2>
  <div class="payout">
    <table>
      <tr *ngFor="let payout of getPayoutSchedule()">
        <td>{{payout.hand}}</td>
        <td>{{payout.payouts[0]}}</td>
        <td>{{payout.payouts[1]}}</td>
        <td>{{payout.payouts[2]}}</td>
        <td>{{payout.payouts[3]}}</td>
        <td>{{payout.payouts[4]}}</td>
      </tr>
    </table>
  </div>
  <div class="hand">
    <table>
      <tr *ngIf="isNewGame()">
        <td>CARD_BACK</td>
        <td>CARD_BACK</td>
        <td>CARD_BACK</td>
        <td>CARD_BACK</td>
        <td>CARD_BACK</td>
      </tr>
      <tr *ngIf="!isNewGame()">
        <td *ngFor="let card of getHand(); let i = index;">{{card.suit}} {{card.rank}}
          <input type="button" class="holdButton" *ngIf="isReadyToDraw()" (click)="toggleHold(i)" value="Hold"/>
        </td>
      </tr>
    </table>
    <div class="deal" *ngIf="isReadyToDeal()">
      <button class="dealButton" (click)="deal()">Deal</button>
      <button class="betOneButton" (click)="betOne()">Bet 1</button>
      <button class="betMaxButton" (click)="betMax()">Bet Max</button>
    </div>
    <div class="draw" *ngIf="isReadyToDraw()">
      <button class="drawButton" (click)="draw()">Draw</button>
    </div>
    <div *ngIf="isReadyToDeal()" class="bestHand">{{getHandRank()}}</div>
  </div>
</div>


