<div class="hand">
  <table>
    <tr>
      <td *ngFor="let card of hand; let i = index;">
        <img src="assets/cards/{{card.rank}}_{{card.suit}}.png"
             class="{{isHeld(i) ? 'held-playing-card' : 'playing-card'}}"
             alt="{{card.rank}}_{{card.suit}}"/>
      </td>
    </tr>
    <tr *ngIf="!readyToDeal">
      <td *ngFor="let card of hand; let i = index;">
        <button class="btn btn-outline-dark m-2 holdButton" (click)="toggleHold(i)">Hold</button>
      </td>
    </tr>
  </table>
  <div *ngIf="readyToDeal" class="bestHand">{{handRank}}</div>
</div>
