<div class="hand">
  <table>
    <tr>
      <td *ngFor="let card of getHand(); let i = index;">{{card.suit}}<br/>{{card.rank}}</td>
    </tr>
    <tr *ngIf="!readyToDeal">
      <td *ngFor="let card of getHand(); let i = index;">
        <input type="button" class="holdButton" *ngIf="readyToDraw" (click)="toggleHold(i)" value="Hold"/>
      </td>
    </tr>
  </table>
  <div class="deal" *ngIf="readyToDeal">
    <button class="dealButton" (click)="deal()">Deal</button>
  </div>
  <div class="draw" *ngIf="readyToDraw">
    <button class="drawButton" (click)="draw()">Draw</button>
  </div>
  <div *ngIf="readyToDeal" class="bestHand">{{getHandRank()}}</div>
</div>
