<div class="hand">
  <table>
    <tr>
      <td *ngFor="let card of getHand(); let i = index;">
        <img src="assets/cards/{{card.rank}}_{{card.suit}}.png"
             class="{{isHeld(i) ? 'held-playing-card' : 'playing-card'}}"
             alt="{{card.rank}}_{{card.suit}}"/>
      </td>
    </tr>
    <tr *ngIf="!readyToDeal">
      <td *ngFor="let card of getHand(); let i = index;">
        <button class="btn btn-outline-dark m-2 holdButton" *ngIf="readyToDraw" (click)="toggleHold(i)">Hold</button>
      </td>
    </tr>
  </table>
  <div class="row row-cols-6 deal" *ngIf="readyToDeal">
    <button class="btn btn-success m-2 dealButton" (click)="deal()">Deal</button>
  </div>
  <div class="row row-cols-6 draw" *ngIf="readyToDraw">
    <button class="btn btn-success m-2 drawButton" (click)="draw()">Draw</button>
  </div>
  <div *ngIf="readyToDeal" class="bestHand">{{getHandRank()}}</div>
</div>
