@if (errorMessage()) {
  <div class="container">
    <div class="alert alert-danger alert-dismissible errorMessage" role="alert">
      {{errorMessage()}}
      <button type="button" class="btn-close" (click)="dismissError()" aria-label="Close"></button>
    </div>
  </div>
}
@if (isGameInitialized()) {
  <div class="container game">
    <div class="text-center"><h1>Total Credits: {{credits()}}</h1></div>
    <div class="text-center"><h2>Bet: {{bet()}}</h2></div>
    <div class="row payout">
      <table class="table table-sm table-bordered table-striped">
        <thead>
        <tr>
          <th></th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
        </tr>
        </thead>
        <tbody>
          @for (payout of payoutSchedule(); track payout.hand) {
            <tr>
              <td>{{payout.hand}}</td>
              @for (amount of payout.payouts; track $index) {
                <td>{{amount}}</td>
              }
            </tr>
          }
        </tbody>
      </table>
    </div>
    <app-hand></app-hand>
    @if (readyToDeal()) {
      <div class="row row-cols-sm-6 deal">
        <button class="btn btn-dark m-2 betOneButton" (click)="betOne()">Bet 1</button>
        <button class="btn btn-dark m-2 betMaxButton" (click)="betMax()">Bet Max</button>
        <button class="btn btn-success m-2 dealButton" (click)="deal()">Deal</button>
      </div>
    } @else {
      <div class="row row-cols-sm-6 deal">
        <button class="btn btn-success m-2 drawButton" (click)="draw()">Draw</button>
      </div>
    }
  </div>
}
